[Unit]
Description=Star Cloud Go Service
After=network.target

[Service]
Type=simple
WorkingDirectory=/srv/apps/axi-star-cloud
ExecStart=/srv/apps/axi-star-cloud/star-cloud-linux
Restart=on-failure
RestartSec=5
User=deploy
Group=deploy
StandardOutput=journal
StandardError=journal
Environment=GIN_MODE=release

[Install]
WantedBy=multi-user.target 